---
format:
  html:
     code fold: false
     theme: sketchy
     self-contained: true
---

# Lab 3 - Ryan Perez

In [1]:
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")

xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

## Function 1: pluralize_gift()

Using the skeleton of the pluralize_gift() function, complete the code so that the function takes a gift and returns the appropriate plural.

In [2]:
def pluralize_gift(gift):
    """
    Returns plural of a noun

    Parameters
    ----------
    gift: str
        A noun

    Returns
    -------
    str
        Plural version
    """

    if gift.find("oo") != -1:
        gift = gift.replace("oo", "ee")
    elif gift[-1] == "y":
        gift = gift.replace("y", "ies")
    elif gift.endswith('s') or gift.endswith('sh') or gift.endswith('ch') or gift.endswith('x') or gift.endswith('z'):
        gift += 'es'
    else:
        gift += "s"

    return gift

In [3]:
# Should work
pluralize_gift("goose")

'geese'

In [4]:
#Create test data frame to see if pluralize_gift function works
xmas_test = xmas.copy()

# Apply pluralize_gift function to 'Gift.Item' column
xmas_test['Gift.Item'] = xmas_test['Gift.Item'].apply(pluralize_gift)

# Display the updated DataFrame
print(xmas_test['Gift.Item'])

0     partridges
1          doves
2           hens
3          birds
4          rings
5          geese
6          swans
7          maids
8         ladies
9          lords
10        pipers
11      drummers
Name: Gift.Item, dtype: object

## Function 2: make_phrase()
Write a function called make_phrase() that takes as input the necessary information, and returns a phrase.

In [5]:
# Dictionary 

# Dictionary mapping from ordinal to cardinal numbers
ordinal_to_cardinal = {
    'first': 'one',
    'second': 'two',
    'third': 'three',
    'fourth': 'four',
    'fifth': 'five',
    'sixth': 'six',
    'seventh': 'seven',
    'eighth': 'eight',
    'ninth': 'nine',
    'tenth': 'ten',
    'eleventh': 'eleven',
    'twelfth': 'twelve'
}

In [6]:
def make_phrase(num, num_word, item, verb, adjective, location):
    """
    Constructs and returns a phrase based on the provided elements.
    
    Parameters
    ----------
    num : int
        The day number.
    num_word : str
        The day number in words.
    item : str
        The gift item.
    verb : str
        The action associated with the gift.
    adjective : str
        Descriptive word for the gift.
    location : str
        The location associated with the gift.
    
    Return
    ------
    str
        The complete phrase.
    """

    # Step 1: Replace NAs
    verb = "" if pd.isna(verb) else verb
    adjective = "" if pd.isna(adjective) else adjective
    location = "" if pd.isna(location) else location
  
    # Step 2: Pluralize the gift
    if num > 1:
        item = pluralize_gift(item)
  
    # Step 3: Starts with a vowel?
    starts_with_vowel = item[0].lower() in 'aeiou'
    
    num_word_cardinal = ordinal_to_cardinal.get(num_word, num_word)

    # Step 4: Adjusting the dat, the first day? 
    # whether the item starts with a vowel.
    if num == 1:
        day_prefix = "an" if starts_with_vowel else "a"
    else:
        day_prefix = num_word_cardinal
  
    # Step 5: Making the phrase
    pieces = [day_prefix, adjective, item, verb, location]
    # Filter out
    phrase = " ".join(filter(None, pieces))

    return phrase.strip()  # Remove any extra spaces

# Test the function with a given example
test_phrase = make_phrase(
    num=10, 
    num_word="ten", 
    item="lord", 
    verb="a-leaping", 
    adjective="", 
    location=""
)
print(test_phrase)  # Should print "ten lords a-leaping"

ten lords a-leaping

In [7]:
xmas['Full.Phrase'] = xmas.apply(lambda row: make_phrase(row['Day'], row['Day.in.Words'], row['Gift.Item'], row['Verb'], row['Adjective'], row['Location']), axis=1)
xmas

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Full.Phrase
0,1,first,partridge,NaN,NaN,in a pear tree,a partridge in a pear tree
1,2,second,dove,NaN,turtle,NaN,two turtle doves
2,3,third,hen,NaN,french,NaN,three french hens
3,4,fourth,bird,NaN,calling,NaN,four calling birds
4,5,fifth,ring,NaN,golden,NaN,five golden rings
5,6,sixth,goose,a-laying,NaN,NaN,six geese a-laying
6,7,seventh,swan,a-swimming,NaN,NaN,seven swans a-swimming
7,8,eighth,maid,a-milking,NaN,NaN,eight maids a-milking
8,9,ninth,lady,dancing,NaN,NaN,nine ladies dancing
9,10,tenth,lord,a-leaping,NaN,NaN,ten lords a-leaping
10,11,eleventh,piper,piping,NaN,NaN,eleven pipers piping
11,12,twelfth,drummer,drumming,NaN,NaN,twelve drummers drumming

## Function 3: sing_day()

In [8]:
def sing_day(dataset, num, phrase_col):
    """
    Constructs and returns the verse of the song for a specific day.
    
    Parameters
    ----------
    dataset : DataFrame
        The dataset containing the song's phrases.
    num : int
        The day number to sing about.
    phrase_col : str
        The name of the column containing the phrases for each day.
    
    Return
    ------
    str
        The complete verse for the specified day.
    """
  
    # Step 1: Setup the intro line
    num_to_words = {
        1: 'first', 2: 'second', 3: 'third', 4: 'fourth', 
        5: 'fifth', 6: 'sixth', 7: 'seventh', 8: 'eighth', 
        9: 'ninth', 10: 'tenth', 11: 'eleventh', 12: 'twelfth'
    }
    num_word = num_to_words[num]
    intro = "On the " + num_word + " day of Christmas, my true love sent to me:"
  
    # Step 2: Sing the gift phrases
    gifts = []
    for i in range(num, 0, -1):
        phrase = dataset.loc[i-1, phrase_col]  # assuming the dataset's first row is 0
        if i == 1 and num > 1:  # On days other than the first, we add 'and' before the last gift.
            phrase = "and " + phrase
        gifts.append(phrase)
    
    # Add commas where necessary
    gifts_with_commas = [gift + ',' for gift in gifts[:-1]] + [gifts[-1]]  # The last gift doesn't get a comma.
    
    # Step 3: Put it all together and return
    full_lyric = intro + '\n' + '\n'.join(gifts_with_commas) + '.'  # Add a period after the final gift.

    return full_lyric

# Test the function with the third day as an example
print(sing_day(xmas, 3, "Full.Phrase"))

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

## Entire 12 Days of Christmas Song

In [9]:
for day in range(1, 13):  # For each of the 12 days of Christmas
    verse = sing_day(xmas, day, "Full.Phrase")  # Get the verse
    print(verse)  
    print()

On the first day of Christmas, my true love sent to me:
a partridge in a pear tree.

On the second day of Christmas, my true love sent to me:
two turtle doves,
and a partridge in a pear tree.

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fourth day of Christmas, my true love sent to me:
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fifth day of Christmas, my true love sent to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the sixth day of Christmas, my true love sent to me:
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the seventh day of Christmas, my true love sent to me:
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eighth day of Christmas, my true love sent to me:
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the ninth day of Christmas, my true love sent to me:
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the tenth day of Christmas, my true love sent to me:
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eleventh day of Christmas, my true love sent to me:
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the twelfth day of Christmas, my true love sent to me:
twelve drummers drumming,
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

## Use your functions!

In [11]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")

xmas2['Full.Phrase'] = xmas2.apply(lambda row: make_phrase(row['Day'], row['Day.in.Words'], row['Gift.Item'], row['Verb'], row['Adjective'], row['Location']), axis=1)
xmas2

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Full.Phrase
0,1,first,email,NaN,NaN,from Cal Poly,an email from Cal Poly
1,2,second,point,NaN,meal,NaN,two meal points
2,3,third,pen,NaN,lost,NaN,three lost pens
3,4,fourth,review,NaN,course,NaN,four course reviews
4,5,fifth,exam,NaN,practice,NaN,five practice exams
5,6,sixth,grader,grading,NaN,NaN,six graders grading
6,7,seventh,senior,stressing,NaN,NaN,seven seniors stressing
7,8,eighth,mom,a-calling,NaN,NaN,eight moms a-calling
8,9,ninth,party,bumping,NaN,NaN,nine parties bumping
9,10,tenth,load,of laundry,NaN,NaN,ten loads of laundry
10,11,eleventh,friend,goodbye-ing,NaN,NaN,eleven friends goodbye-ing
11,12,twelfth,hour,sleeping,NaN,NaN,twelve hours sleeping

In [12]:
for day in range(1, 13):  # For each of the 12 days of Christmas
    verse = sing_day(xmas2, day, "Full.Phrase")  # Get the verse
    print(verse)  
    print()

On the first day of Christmas, my true love sent to me:
an email from Cal Poly.

On the second day of Christmas, my true love sent to me:
two meal points,
and an email from Cal Poly.

On the third day of Christmas, my true love sent to me:
three lost pens,
two meal points,
and an email from Cal Poly.

On the fourth day of Christmas, my true love sent to me:
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the fifth day of Christmas, my true love sent to me:
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the sixth day of Christmas, my true love sent to me:
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the seventh day of Christmas, my true love sent to me:
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eighth day of Christmas, my true love sent to me:
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the ninth day of Christmas, my true love sent to me:
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the tenth day of Christmas, my true love sent to me:
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eleventh day of Christmas, my true love sent to me:
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the twelfth day of Christmas, my true love sent to me:
twelve hours sleeping,
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.